@import url("https: //fonts.googleapis.com/css2? family= Sigmar & display=swap");

:root{
    /* bg colors*/
    --background: #15321e;
    --primary:#1e50ff;
    --secondary:#272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    /* text color*/
    --text-gray: #abd9c7;
    --text-white: #f3f4f6;
    --text-boton: #72dada;
    /* decoration*/
    --fire: #ff6d00;
    --electric: #64d3ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sigmar' , cursive;
    text-decoration: none;
    list-style-type:none;
}
header{
    background: var(--secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    position: sticky;/* stiky se usa para dejar fija nuestra nav bar cuand scrolleamos*/
    top: 0;
    z-index: 2; /*esto indica la posicion con respecto a los valores que tengamos*/
}
/*imagenes*/
.logo{
   height: 40%;
} 

  
.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    gap: 150px
}
.navbar-list{
    gap:50px
}
.navbar-list a{
 color: var(--text-gray);
 font-size: 14px;
}
/*selectores  css sirven para seleccionar un parrafo y darle un estilo */
.navbar-list li:first-child > a {
    color: var(--fire);
    font-weight: 700;
}
main section a{
    color: var(--primary);
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* icono de carrito de compras */
.cart-icon{
    
    border-radius: 100px;
    height: 50px;
    padding: 5px 10px;
    margin-right: 1rem;
    border: 2px solid rgb(247, 5, 5);
    cursor: pointer;
}
/*section*/

main {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 100%;
}
#hero {
   margin-top: 65px;
   padding: 70px;
   max-width: 1200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px ;
    width: 50%;
}
.hero-info h1{
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800; /* es el ancho de la fuente*/
    color: var(--text-white);    
}
.hero-info p{
  font-size: 14px;
  width: 70%;
  color: var(--text-white);
}
.hero-info p > span{
    font-weight: 800;
}
.hero-info a{
    color: var(--text-boton);
    background-color: var(--primary);
    width: 120px ;
    padding: 8px 0;
    border-radius: 10px ;
    font-size: 14px;
    text-align: center;
}
.hero-card{
    width: 300px;
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.hero-card-info{
      display: flex;
      flex-direction: column;
      gap: 10px;
}
.hero-card-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.pil {
    width: 80px;
}
.hero-card-top h3{
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero-card-top span{
    background-color: #1e50ff;
    text-align: center;
    width: 50px;
    padding: 3px 0;
    font-size: 14px;
    border-radius: 10px;
}
.hero-card-bottom{
    display: flex;
    justify-content: space-between;
}
.hero-card-creator{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-card-creator img{
    width: 40px;
    height: 40px;
}
.crator-info p:first-child,
.hero-card-price p{
    color: var(--electric);
    font-size: 12px;
    font-weight: 300;
}
/*info cards */
#info{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.info-cards-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.info-card{
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--secondary);
    border-radius: 10px;
    gap: 20px;
}
#info h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--fire);
}
.info-card img{
   width: 50px;
}
.info-card h3{
    font-weight: 600;
    font-size: 18px;
    color: var(--text-gray);
}
.info-card p{
    font-size: 600;
    font-weight: 18px;
    color: var(--text-gray);
}
/* discover section*/
#discover{
    padding: 70px 0;  
    max-width: 1200px;
}
.discover-info{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
#discover h2{
    font-size: 32px;
    width: 45%;
    font-weight: 500;
}
.discover-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}
.discover-text p{
    font-size: 16px;
    font-weight: 300;
    color: var(--text-gray);
}
.discover-text a{
    color: var(--text-white);
    font-weight: 400;
    text-decoration: underline;
}
.discover-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}
.discover-cards img{
    width: 20%;
    border-radius: 10px;

}
/*product section*/
#products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;
}
#products h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}
/*categories section*/
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.category {
    background: var(--primary);
    border: none;
    padding: 10px 15px;
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}
.active{
    background: var(--primary);
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 1200px;
}
.product{
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.product img{
    width: 400px;
    border-radius: 10px;
}
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.product-top,
.product-mid,
.product-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-time img{
width: 24px;
}
.product-top h3 {
    font-size: 16px;
    font-weight: 700;
}
.product-top p,
.product-user p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);
}
.product-user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-user img{
    width: 30px;
    border-radius: 20px;
}
.product-mid span{
    font-weight: 800;
}
.offer-time{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}
.btn-add{
    background: var(--primary);
    border: none;
    padding: 10px 35px;
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}
/*este es el footer*/

footer{
    background: var(--background);
    color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}
footer a,
footer p{
    color: var(--text-gray);
    font-weight: 300;
    font-size: 14px;
}
footer span{
    font-weight: 800;
}
.footer-links{
   display: flex;
   justify-content: center;
   gap: 20px;
}